body{
    background-color: #F9F5F1;
    font-family: 'Manrope', sans-serif;
}
html {
  scroll-behavior: smooth;
}
    /* New CSS*/

.banner{
  background-image: url(assets/image/Photo.svg);
  background-repeat: no-repeat;
}
.secondary-banner{
  background-image: url(assets/image/truck.svg);
  background-repeat: no-repeat;
}
  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.3s ease;
  }

  .faq-answer.open {
    max-height: 500px; 
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #E4686D !important;
  }

   .active-link {
    font-weight: 600;
    border-bottom: 2px solid #ED1D24;
    color: #ED1D24 !important;
  }
 @media screen and (max-width:768px) {
  .active-link {
    border-bottom: none !important;
    color: #ED1D24 !important;
  }
 }
 /* Animation for image */
.image-box{
    width:100%;
    max-width:500px;
    aspect-ratio:1/1;
    overflow:hidden;
    border-radius:16px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.image-box img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* Remove Tailwind transition-all from the image */

.slide-out-left{
    animation:slideOutLeft .6s ease forwards;
}

.slide-in-right{
    animation:slideInRight .6s ease forwards;
}
@keyframes slideOutLeft{
    from{
        transform:translateX(0);
        opacity:1;
    }
    to{
        transform:translateX(-60px);
        opacity:0;
    }
}
@keyframes slideInRight{
    from{
        transform:translateX(60px);
        opacity:0;
    }
    to{
        transform:translateX(0);
        opacity:1;
    }
}